﻿
@inject NavigationManager NavigationManager
<nav style="
    background-color: lightslategray;
    display: flex;
    justify-content: normal;
    width: 100%;
    position: fixed;
    top: 0;
    gap:20px;

    z-index: 1000;
    height: 5%;
    ">
        <div>
            <a style="font-size:32px; color:black;" href="/"> Calculo </a>
            
        </div>
        
   
   
        <div>
        <a style="font-size:28px;" href="/lessons"> Lessons </a>
        </div>

    <div>
        <a style="font-size:28px;" href="/games"> Games </a>
    </div>

    <div>
        <a style="font-size:28px;" href="/leaderboard"> Leaderboard </a>
    </div>
</nav>

