@page "/Error"

<PageTitle>Error</PageTitle>
<container style="text-align:center;padding:100px;">
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">Perhaps you made a typo or went to a wrong link?</h2>
</container>